<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deltaqin.seckill.dao.SeckillGoodMapper">
  <resultMap id="BaseResultMap" type="com.deltaqin.seckill.dataobject.SeckillGood">
    <id column="sec_id" jdbcType="INTEGER" property="secId" />
    <result column="seckill_name" jdbcType="VARCHAR" property="seckillName" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sec_id, seckill_name, start_time, end_time, seckill_price
  </sql>
  <select id="selectByExample" parameterType="com.deltaqin.seckill.dataobject.SeckillGoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seckill_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seckill_good
    where sec_id = #{secId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seckill_good
    where sec_id = #{secId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.deltaqin.seckill.dataobject.SeckillGoodExample">
    delete from seckill_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.deltaqin.seckill.dataobject.SeckillGood">
    insert into seckill_good (sec_id, seckill_name, start_time, 
      end_time, seckill_price)
    values (#{secId,jdbcType=INTEGER}, #{seckillName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{seckillPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.deltaqin.seckill.dataobject.SeckillGood">
    insert into seckill_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secId != null">
        sec_id,
      </if>
      <if test="seckillName != null">
        seckill_name,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secId != null">
        #{secId,jdbcType=INTEGER},
      </if>
      <if test="seckillName != null">
        #{seckillName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.deltaqin.seckill.dataobject.SeckillGoodExample" resultType="java.lang.Long">
    select count(*) from seckill_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seckill_good
    <set>
      <if test="record.secId != null">
        sec_id = #{record.secId,jdbcType=INTEGER},
      </if>
      <if test="record.seckillName != null">
        seckill_name = #{record.seckillName,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.seckillPrice != null">
        seckill_price = #{record.seckillPrice,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seckill_good
    set sec_id = #{record.secId,jdbcType=INTEGER},
      seckill_name = #{record.seckillName,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      seckill_price = #{record.seckillPrice,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.deltaqin.seckill.dataobject.SeckillGood">
    update seckill_good
    <set>
      <if test="seckillName != null">
        seckill_name = #{seckillName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where sec_id = #{secId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.deltaqin.seckill.dataobject.SeckillGood">
    update seckill_good
    set seckill_name = #{seckillName,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      seckill_price = #{seckillPrice,jdbcType=DECIMAL}
    where sec_id = #{secId,jdbcType=INTEGER}
  </update>
</mapper>